// Site Colors
$white: #fff;
$black: #000;
$black-30: #{'rgba(0,0,0,.3)'};
$black-60: #{'rgba(0,0,0,.6)'};

// Text Colors
$text-1: $white;
$text-2: $black;

$done: #65c715;

//$background: #560a00;
$background: #000;
$blue: #36becc;
$lightgray: #d9d7d7;
$red: #d03838;