@font-face {
    font-family: 'helveticaneuehackregular';
    src: url('../../../font/helvetica/helveticaneuehack-webfont.eot');
    src: url('../../../font/helvetica/helveticaneuehack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../font/helvetica/helveticaneuehack-webfont.woff') format('woff'),
         url('../../../font/helvetica/helveticaneuehack-webfont.ttf') format('truetype'),
         url('../../../font/helvetica/helveticaneuehack-webfont.svg#helveticaneuehackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}