@font-face {
    font-family: 'helvetica_cyplain';
    src: url('../../../font/helveticacy-webfont.eot');
    src: url('../../../font/helveticacy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../font/helveticacy-webfont.woff') format('woff'),
         url('../../../font/helveticacy-webfont.ttf') format('truetype'),
         url('../../../font/helveticacy-webfont.svg#helvetica_cyplain') format('svg');
    font-weight: normal;
    font-style: normal;
}