<div id="player"></div>

<div ng-repeat="thing in songs" class="thang">
    <div class="hero-unit song-entity">
        <h1 class="point">10p</h1>
        <div class="timebar-wrapper">
            <div class="timebar"></div>
        </div>
        <div class="timer"></div>
        <div class="choices-container">
        	<div ng-repeat="suggestion in thing.suggestions" class="choices {{suggestion.isoriginal}}"><p>{{suggestion.title}}</p></div>
        </div>
    </div>
</div>
<div class="results">
	<h3>Din poäng blev:</h3>
	<h2 class="pointstotal"></h2>
    <p>
        Du hade ändå rätt så bra koll på vad Håkan stulit. Klicka på
        valfritt Huvud för att gå till original låten och njut av Håkans
        storhet!
    </p>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>
    <div class="answers"></div>

    <hr>
    <div class="share">
        <a href="#"><p>Dela ditt resultat:</p> <div></div></a>
    </div>
</div>

<div class="loader"></div>
