@import "_libs/_normalize.scss";
@import "_all/_import.scss";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    color: $black;
    padding:0;
    margin:0 auto;
    border:0;
    width: 60.000em;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family: "Helvetica", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
ul,
ol {
    margin:0;
    padding:0;
    list-style:0;
}
h1,
h2,
h3,
h4,
li,
a,
p {
    color: $black;
    font-size: 13px;
    line-height: 16px;
}

h1 {
    text-align: center;
}

.container {
}

.start-btn {
    background: $blue;
    display: block;
    color: white;
    border-radius: 2px;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 10em;
}

.timebar-wrapper {
    overflow-x: hidden;
    background: $lightgray;
    width: 28.750em;
    margin: 0 auto;
    @include transform(rotateZ(-5deg));
}

.timebar {
    height: 3em;
    background: $blue;
    color: white;
    &.active {
        @include transition(-webkit-transform 250ms);
    }
}

.song-entity {
    display: none;

    &.shown {
        display: block;
    }
}
.choices {
    @include inlineblock;
}

.results {
    display: none;
}