@import "_libs/_normalize.scss";
@import "_all/_import.scss";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    // color: $black;
    padding:0;
    margin:0 auto;
    border:0;
    width: 100%;
    background: url(../../images/left_frame.png) repeat-x;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family: "helveticaneuehackregular", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
ul,
ol {
    margin:0;
    padding:0;
    list-style:0;
}
h1,
h2,
h3,
h4,
li,
a,
p {
    // color: $black;
    font-size: 13px;
    line-height: 16px;
}

h1 {
    text-align: center;
    color: $blue;
    font-size: 3em;
    position: absolute;
    left: 600px;
    top: 155px;
}

.container {

    background: url(../../images/hakan_face.png) no-repeat; 
    background-position: 140% 110%;
    padding: 1em 0 0 0;
    width: 960px;
    height: 788px;
    margin: 0 auto;
    header {
        background: url(../../images/header.png) no-repeat;
        width: 58.750em;
        height: 8.875em;
        margin: 0 auto;
    }
}

.intro-container {
    position: relative;
    width: 960px;
    height: 500px;
    margin: 0 auto;
    a {
        position: absolute;
        left: 340px;
        top: 100px;
        display: block;
        width: 236px;
        height: 86px;
        background: $blue;
        border-radius: 4px;
        // background: url(../../../images/start_button.png);
        @include transition(background-color 250ms);
        &:hover {
            background: $green;
        }
        div {
            background: url(../../images/start.png) no-repeat;
            width: 99px;
            height: 40px;
            display: block;
            margin: 1.8em auto 0 auto;
        }
    }

    > div {
        position: absolute;
        left: 487px;
        top: 15px;
        width: 468px;
        height: 268px;
        background: url(../../images/prat_start.png);
        opacity: 0;
        @include transform(translateY(100px));
        &.slideUp {
            @include transform(translateY(0px));
            opacity: 1;
            @include transition(all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
        }
        p {
            position: absolute;
            width: 263px;
            color: $blue;
            font-size: 1.3em;
            font-weight: bold;
            left: 159px;
            top: 10px;
            line-height: 1.4em;
        }
    }
}


.timebar-wrapper {
    overflow-x: hidden;
    background: $lightgray;
    width: 25.750em;
    margin: 7em auto 0 auto;
    padding: 1px;
    @include transform(rotateZ(-5deg));
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,.6);
}

.timebar {
    height: 3em;
    background: $green;
    color: white;
    &.active {
        @include transition(-webkit-transform 250ms);
    }
}

.song-entity {
    display: none;

    &.shown {
        display: block;
    }
}
.choices {
    cursor: pointer;
    width: 199px;
    height: 202px;
    background: url(../../images/val_stor_ny.png);
    margin: 0 2em 0 0;
    @include transition(all 250ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
    @include inlineblock;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }
    &:hover {
        @include transform(translateY(-20px));
    }

    p {
        text-align: center;
        color: $red;
        font-size: 1em;
        font-weight: bold;
        line-height: 150%;
        width: 100%;
        padding: 0 1.5em;
        margin: 0 auto;
        vertical-align: middle;
        display: inline-block;
        word-wrap:break-word;
    }
}

.choices-container {
    width: 693px;
    margin: 6em auto 0 auto;
}

.results {
    display: none;
    width: 620px;
    padding: 20px 26px;
    background: white;
    border-radius: 4px;
    margin: 2em auto 0 auto;
    color: $blue;
    font-weight: bold;

    h3, h2 {
        text-align: center;
    }

    h2 {
        color: $red;
        font-size: 4em;
    }

    .answers {
        width: 45px;
        height: 49px;
        margin: 20px 8px 0 0;
        background: url(../../images/hakan_right.png);
        @include inlineblock;
        @include transition(all 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
        &:hover {
            @include transform(translateY(-15px));
        }

        &.wrong {
            background: url(../../images/hakan_wrong.png);
        }
    }

    hr {
        background: $blue;
        height: 1px;
        border: none;
    }
    .share {
        text-align: right;

        a {
            text-decoration: none;
            color: $blue;

            p {
                line-height: 1px;
                display: inline-block;
            }

            div {
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url(../../images/facebook_icon.png) no-repeat;
            }
        }
    }
}
.thang {
    display: none;
}
#player {
    position:absolute;
    left: -50000px;
}

.loader {
    background: url(http://24.media.tumblr.com/1505888f40533ea02f253d6f2b94ae03/tumblr_mq8yglppqT1sbdc51o1_500.gif);
    background-size: cover;
    width: 326px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: calc(50% - 163px);

    &.hidden {
        left: -500000px;
    }
}